{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists of YouTube with a Spotify styled UI" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services, spotify, youtube" />
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Freewave - Because music deserves to be heard by all</title>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password != confirm_password.value) {
            confirm_password.setCustomValidity("Password did not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>

<body>
    <div class="signup_header"><br> <a href="https://www.github.com/udeet27"
            style="text-decoration: none; color:#222326;" target="_blank"><span class="label" style="font-size: 23px;">F
                R E E W A V E</span></a><br>

    </div>
    <div class="signup_body">

        <div class="label center-align" style="text-align: center;color: #616467;margin-top: 15px;font-size: 13.5px;">
<br><br><br><br>
            <img src="{% static 'freewave-logo-removebg-preview.png' %}" alt="" width="100" height="100">
            <br><br>
            Because
            music deserves to be <span
                style="text-align: center;font-style: italic;color: #15883e;margin-top: 15px;font-size: 13.5px;">free</span>
        </div>
        <br><br>
        <form class="login_form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            <span class='label signup-title center-align'>Sign up for free & start grooving.</span>
            <label for="sign-up-username" class="label">
                What's your name?{% if not username %}
                <span style="color:#f79862;">Username already exists</span>
                {% endif %}
            </label>

            <input type="text" class="form_input" name="username" pattern="[A-Za-z]+" placeholder="Enter your name."
                required>


            <label for="sign-up-email" class="label">
                What's your email?{% if not email %}
                <span style="color:#f79862;">Email already exists</span>
                {% endif %}
            </label>

            <input type="email" class="form_input" name="email" placeholder="Enter your email." required>


            <label for="sign-up-pwd" class="label">
                Create a password
            </label>
            <input type="password" class="form_input" id="pwd" name="password" placeholder="Create a password."
                required>

            <label for="sign-up-cpwd" class="label">
                Confirm your password
            </label>
            <input type="password" class="form_input" id="cpwd" name="confirm-password" oninput="checkPassword(this)"
                placeholder="Re-type your password" required>

            <button class='btn btn_log_in' type="submit">Sign up</button>
            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="/login">Log in</a>.</p>
        </form>
    </div>

</body>

</html>