@font-face {
    font-family: 'Circularsp';
    src: url('../fonts/CircularSpotifyText-Bold.otf');
    /* font-weight: 400; */
}
/* @font-face {
    font-family: 'Circularsp';
    src: url('../fonts/CircularSpotifyText-Light.otf');
}
@font-face {
    font-family: 'Circularsp';
    src: url('../fonts/CircularSpotifyText-Bold.otf');
}
@font-face {
    font-family: 'Circularsp';
    src: url('../fonts/CircularSpotifyText-Medium.otf');
} */