@font-face {
    font-family: 'Circularsp';
    src: url("../fonts/CircularSpotifyText-Bold.efda7ebbf296.otf");
    /* font-weight: 400; */
}
/* @font-face {
    font-family: 'Circularsp';
    src: url("../fonts/CircularSpotifyText-Light.5cbb20e4db86.otf");
}
@font-face {
    font-family: 'Circularsp';
    src: url("../fonts/CircularSpotifyText-Bold.efda7ebbf296.otf");
}
@font-face {
    font-family: 'Circularsp';
    src: url("../fonts/CircularSpotifyText-Medium.ff643805f072.otf");
} */